{% extends 'base.html' %}
{% block titolo %}
Aggiungi autore
{% endblock %}

{% block intestazione %}Aggiungi autore{% endblock %}
{% block corpo %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<h1>{{ message }}</h1>
{% endfor %}
{% endif %}
{% endwith %}

<form action="/addauthor/" method="POST">
    <h3>Nome</h3>
    <input type="text" name="nome">
    <h3>Cognome</h3>
    <input type="text" name="cognome">
    <h3>Codice Fiscale</h3>
    <input type="text" name="cf">
    <h3>Data di nascita</h3>
    <input type="date" name="ddn">
    <h3>Data di morte</h3>
    <input type="date" name="ddm">
    <br>
    <br>
    <input type="submit" value="Aggiungi">
</form>
{% endblock %}


