{% extends "base.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
      </div>
    {% endfor %}
{% endif %}
{% endwith %}

<div class="container mt-5">
    <h1 class="mb-4">Log in</h1>
    <form method="POST" action="{{url_for('logIn')}}" class="mb-3">
        <div class="form-group">
            <input type="text" name="username" class="form-control" placeholder="Username:" required><br>

            <input class="form-control" id="password" name="password" type="password" placeholder="Password" required><br>
        </div>
        <button type="submit" class="btn btn-primary">Log in</button>
    </form>
  </div>
{% endblock %}
