{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
      </div>
    {% endfor %}
{% endif %}
{% endwith %}

  <div class="container mt-5">
    <h1 class="mb-4">Registrazione Utente</h1>
       
    <form method="POST" action="{{url_for('register')}}" class="mb-3">
        <div class="form-group">
          <input type="text" name="nome" class="form-control" placeholder="Nome" required><br>

          <input type="text" name="cognome" class="form-control" placeholder="Cognome" required><br>

          <input type="text" name="CF" class="form-control" placeholder="Codice Fiscale" required><br>

          <input class="form-control" id="email" name="email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" type="email"  placeholder="Email" required><br>

          <input type="tel" name="telefono" class="form-control" pattern="\+?[0-9\s\-]+" placeholder="Numero di Telefono" required><br>

          <input type="text" name="username" class="form-control" placeholder="Username:" required><br>

          <input class="form-control" id="password" name="password" type="password" placeholder="Password" required>

          <input class="form-control" id="confermaPassword" name="confermaPassword" type="password" placeholder="Conferma la password" oninput="this.setCustomValidity(this.value !== document.getElementById('password').value ? 'Le password non coincidono' : '')"required><br>
        </div>

        <button type="submit" class="btn btn-primary">Registrati</button>
    </form>
  </div>
{% endblock %}