{% extends 'base.html' %}

{% block titolo %}
Catalogo
{% endblock %}

{% block intestazione %}
Catalogo
{% endblock %}

{% block corpo %}
  
<!-- Form di ricerca centrato -->
<form method="POST" action="/searchresults/" class="form-search">
    <input type="text" name="filtro" placeholder="Cerca libro..." />
    <input type="submit" value="Filtra" />
</form>

<form>
    <label for="genere">Seleziona il genere</label>
    <select name="genere" id="genere" onchange="this.form.submit()">
        <option value="">Tutti i generi</option>
        {% for genere in generi %}
        <option value="{{ genere }}" {% if genere==request.args.get('genere') %}selected{% endif %}>{{ genere }}</option>
        {% endfor %}
    </select>
</form>

<table>
    <tr>
        <th>ISBN</th>
        <th><a href="{{ url_for('searchresults', order_by='Titolo')}}">Titolo</a></th>
        <th>Genere</th>
        <th>Prezzo</th>
        <th>Locazione</th>
        <th><a href="{{ url_for('searchresults', order_by='Autore')}}">Autore</a></th>
    </tr>
    {% for libro in libri %}
    <tr>
        <td>{{ libro[0] }}</td>
        <td>{{ libro[1] }}</td>
        <td>{{ libro[2] }}</td>
        <td>{{ libro[3] }}</td>
        <td>{{ libro[4] }}</td>
        <td><a href="{{ url_for('author', cf=libro[5]) }}">{{ libro[5] }}</a></td>
    </tr>
    {% endfor %}
</table>

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<h1>{{ message }}</h1>
{% endfor %}
{% endif %}
{% endwith %}

{% endblock %}


