{% extends "base.html" %}

{% block title %}Utenti - Biblioteca{% endblock %}

{% block content %}
    <h1 class="mb-4">Cerca Libri</h1>
    
    <form method="GET" action="{{ url_for('users') }}" class="mb-3">
        <div class="form-group">
            <input type="text" name="key" class="form-control mb-2" placeholder="Titolo o ISBN" value="{{ key_selezionata }}">
        </div>
        <div class="form-group">
            <input type="text" name="genere" class="form-control mb-2" placeholder="Genere" value="{{ genere_selezionato }}">
        </div>
        <div class="form-group">
            <select name="ordina" class="form-control mb-2">
                <option value="titolo" {% if ordina=='titolo' %}selected{% endif %}>Titolo</option>
                <option value="autore" {% if ordina=='autore' %}selected{% endif %}>Autore</option>
            </select>
        </div>
        <button type="submit" class="btn btn-success">Cerca</button>
    </form>

    {% if numero_libri is not none %}
        <h3 class="mt-4">Numero di libri nel genere "{{ genere_selezionato }}": {{ numero_libri }}</h3>
    {% endif %}

    <h2 class="mt-4">Risultati:</h2>
    <ul class="list-group">
        {% for libro in libri %}
            <li class="list-group-item">
                <!-- Sezione informazioni libro -->
                <div>
                    <strong>{{ libro.Titolo }}</strong> - ISBN: {{ libro.ISBN }} - Genero: {{ libro.Categoria }} - Copie: {{ libro.NumCopie }} - Autori: {{ libro.Autori }}
                </div>
                
                <!-- Bottone posizionato sotto -->
                <div class="mt-2">
                    <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modal-{{ libro.ISBN }}">
                        Mostra Riassunto
                    </button>
                </div>
            
                <!-- Modale per il riassunto -->
                <div class="modal fade" id="modal-{{ libro.ISBN }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Riassunto di "{{ libro.Titolo }}"</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                {{ libro.Riassunto }}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        
        
        {% endfor %}
    </ul>
{% endblock %}
